@import url('href="https://fonts.googleapis.com/css2?family=Nabla&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: rgb(86,18,91);
    background: linear-gradient(339deg, rgba(86,18,91,1) 0%, rgba(40,10,80,1) 100%);
    min-height: 100vh;
    text-align: center;
}

h1 {
    font-family: 'Nambla', cursive;
    text-align: center;
    margin-top: 100px;
    font-size: 10em;
}

.result-text {
    font-family: 'Nabla', cursive;
    font-size: 2em;
}
